
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
    background: #222;
    color: #444;
}
/* <---side navbar--> */

.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 350px;
  }
.social{
    z-index: 1;
}
 
  .sidenav a {
    padding: 6px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border-top: 1px  dashed rgba(35, 165, 165, 0.9);
    border-bottom: 1px  dashed rgba(35, 165, 165, 0.9);
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: red;
    text-decoration: none;
    background-color: rgb(35, 165, 165);
    letter-spacing: .07em;
  }
  
 
/* <--3dcircle--> */
.circle
{
    transform-style: preserve-3d;
    justify-content: center;
    animation: animate 50s linear infinite;
    margin-right: 30%;
    z-index: 1;
}
@keyframes animate
{
    0%
    {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
    }
   -100%
   {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
   }
}
.circle .char
{
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    background: #eee;
    font: 400 24px/1.4 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    padding: 5px 12px;
    border-top: 2px dotted rgb(35, 165, 165);
    border-bottom: 2px dotted rgb(35, 165, 165);
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(200px);
    text-shadow: 500px 150px 10px rgba(35,165,165,0.5),
    300px 150px 10px rgba(255,0,0,0.5),
    150px 600px 0 rgba(255,0,0,0.5),
    600px 50px 0 rgba(250,250,250, 0.5),
    400px 350px 0 rgba(0, 0, 0, 0.5),
    200px 500px 0 rgba(0,0,0,0.5),
    300px -150px 10px rgba(255,0,0,0.5),
    150px -600px 0 rgba(255,0,0,0.5),
    600px -50px 0 rgba(0,0,0,0.5),
    400px -350px 0 rgba(0,0,0,0.5),
    200px -500px 0 rgba(35,165,165, 0.5);
}
.circle .char:hover
{
    background-color: rgb(35, 165, 165);
    transition: 0.5s;
    color:red;
   
}


.banner{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h2{
    padding-top: 10px;
    color: rgba(35,165,165,0.5);
    font-weight: 500;
    line-height: 1.5em;
    margin-left: -35px;
    font: 300 50px/1.2 'Roboto Mono', monospace;
    margin-left: 200px;
}
h2 span{
    margin-top: 10px;
    
    font-weight: 500;
    color: red;
    font: 50px/1.2 'Roboto Mono', monospace;
}
h3{
    margin-top: 5px;
    margin-left: -45px;
    font: 50px/1.2 'Roboto Mono', monospace;
    color: #eee;  
    margin-left: 200px;
}


.typing{
    color: rgba(35,165,165,0.5);
    font-size: 20px;
    font: 600 32px/1 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media screen and (max-width: 992px){
    .circle .char{
        transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(200px);
    }
    .media{
        margin-right:auto;
        top: -90%;
    }
    .nav{
        justify-content: center;
        align-items: center;
    }
    #home h2{
        margin-bottom: 140%;
        font: 300 40px/1 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    #home h3{
        font-size: 24px;
    }
}
@media screen and (max-width: 576px){
    .circle .char{
        transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(150px);
        margin: -140px;
        margin-top: 30%;
    }
    .nav{
        justify-content: center;
        align-items: center;
        margin-left: -50px;
    }
    #home h2{
        margin-bottom: 160%;
        font: 500 30px/1.4 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    .typing{
        font-size: 24px;
        font-weight: 500;
    }
}
